<div class="list-container" >
        <mat-expansion-panel (opened)= "panelOpenState = true"
        (closed)= "panelOpenState = false" class="expansion">

        <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
            Integrantes:
            </mat-panel-title>
        
        </mat-expansion-panel-header>
            <span class="options">
                <i class="material-icons">
                        person
                 </i>
                 &nbsp;
                Lucas Esteban Muñoz
            </span>
            <span class="options">
                <i class="material-icons">
                        person
                </i>
                 &nbsp;
                Sebastián gonzález jiménez
            </span>
            <span class="options">
                <i class="material-icons">
                        person
                 </i>
                 &nbsp;
                María Isabel Rosales
            </span>
            <span class="options">
                    <i class="material-icons">
                            person
                     </i>
                     &nbsp;
                    Dary luz Herrera
            </span>
            <span class="options">
                    <i class="material-icons">
                            person
                     </i>
                     &nbsp;
                    Julian Calderon
            </span>
        </mat-expansion-panel>
</div>
