<mat-card class="logincard">
    <mat-card-header>
        <mat-card-title>Ingresar</mat-card-title>  
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]= "loginForm" (ngSubmit) = "Onlogin(loginForm.value)">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Correo" formControlName= "email"/>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName= "password" />
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary" class="butonlogin">Ingresar</button>
        </form>
    </mat-card-content>
</mat-card>
