.list-container{
    width:650px; 
    height: 510px;
 }
.user-card {
    max-width: 400px;
    background-color: #CED8F6;
    margin: auto auto;
    height: 200px;
    border-radius: 5%;
}
.mat-card-title,.mat-card-content {
    display: flex;
    text-align: center !important;
    color: #3f51b5;
}
.mat-card-title,.mat-card-content {
    display: flex;
    justify-content: center;
}
input[type="file"] {
    display: none;
}
.file{
    border: 1px solid #3f51b5;
    background-color: #3f51b5 ;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    text-align: center;
}
