<div class="user-container">
        <mat-card class="user-card">
            <mat-card-header>
                <mat-card-title>
                    <i class="material-icons">
                            note_add
                    </i>
                    &nbsp;Crear Noticia
                </mat-card-title>  
            </mat-card-header>
            <mat-card-content>
                    <form [formGroup]= "CreateForm" (ngSubmit) = "CreateNew(CreateForm.value)">
                            <p>
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Titulo" formControlName= "titulo"/>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Descripción" formControlName= "descripcion"/>
                                </mat-form-field>
                            </p>
                            <p>
                                <label class="file">
                                    seleccionar Imagen de Noticia
                                    <input type="file" (change)= "upload($event)" />
                                </label>
                            </p>
                            <p>
                                <mat-progress-bar value = "uploadPercent" mode="determinate" color = "#3f51b5" *ngIf="cargando"></mat-progress-bar>
                            </p>
                            <button type="submit" mat-raised-button color="primary" class="butoncreate">Crear</button>
                        </form>
            </mat-card-content>
        </mat-card>
        </div>
