<div class="list-container" *ngFor="let new of newsList" >
        <mat-card class="example-card" >
          <mat-card-header>
              <div mat-card-avatar><img [src]= "transform(new.data.FotoCreador)" class="photo_profile"></div>
          <mat-card-title>{{new.data.NombreCreador}}</mat-card-title>
          <mat-card-subtitle>{{new.data.fecha}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="titulo">
              <mat-card-title>
                {{new.data.titulo}}
              </mat-card-title>
          </div>
          <img mat-card-image [src] = "transform(new.data.imagen)"  />
          <mat-card-content>
            <p>
              <mat-card-subtitle>
              {{new.data.descripcion}}
              </mat-card-subtitle>
            </p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button>ME GUSTA</button>
            <button mat-button>NO ME GUSTA</button>
          </mat-card-actions>
        </mat-card>
        <br>
</div>
